.titolo2{
margin-top: 0px;
margin-bottom: 0px;
}
body{
    margin: 0px;

}
.container{
    width: 1080px;

}
header{
    background-color: #0e88bf;
    background-size: cover;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-position: 20px;
    margin: 0px;
    font-size: 20px;
    line-height: 20px;  
    color: white;   
}
.titolo{
    font-size: 10px;  
}

div{
  text-align: left;

}
main{
    text-align: left;
    padding: 10px;
}
figure{
    background-size: auto;
}
.autore{
   color: grey;
}
ul{
    padding-inline-start: 20px;
}
.blu{
    color: blue;
}
.giallo{
    background-color: yellow;
}
thead{
    background-color: blue;
    color: white;
}
.primo{
    background-color: aqua;
}
table{
    border-spacing: 0px;
}
footer{
    color: grey;
    margin-left: 10px;
}
figure{
    margin-left: 1px;
    margin-bottom: 0px;
}
#persone{
    font-size: 12px;
}